<div class="text-light container">
    <h3>Submit a new quote</h3>

    <form (ngSubmit)='submitQuote()' #addForm='ngForm'>
        <div class="form-group">
            <label>Quote</label>
            <input type="text" class="form-control" required [(ngModel)]="newQuote.text" name="text" #text='ngModel' [class.is-invalid]="text.invalid && text.touched" id="text" required>
            <small class="text-danger text-center" [class.d-none]='text.valid || text.untouched'>Quote is required</small>
        </div>

        <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" [(ngModel)]="newQuote.author" name="author" #author='ngModel' [class.is-invalid]="author.invalid && author.touched" id="author" required>
            <small class="text-danger text-center" [class.d-none]='text.valid || text.untouched'>Author is required</small>
        </div>

        <div class="form-group">
            <label>Submitted by</label>
            <input type="text" id="submitName" class="form-control" [(ngModel)]="newQuote.submitName" [class.is-invalid]="submitName.invalid && submitName.touched" name="submitName" #submitName='ngModel' required>
            <small class="text-danger text-center" [class.d-none]='text.valid || text.untouched'>Name is required</small>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" id="postDate" class="form-control" [(ngModel)]="newQuote.postDate" name="postDate" [class.is-invalid]="postDate.invalid && postDate.touched" #postDate='ngModel' required>
        </div>

        <button class="btn btn-primary" type="submit">Add Quote</button>
    </form>
</div>